html,
body,
#ui-view {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Crimson Text', serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.down {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.material-icons {
  font-size: 2.5rem !important;
}

.nav-wrapper {
  background-color: #596D64;
}

.nav-wrapper > a {
  margin-left: 2em;
}

.nav-wrapper a {
  font-size: 1.5em;
}

.nav-wrapper ul {
  margin-right: 2em;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('/img/forest.jpeg') rgba(120, 120, 120, 0.5) no-repeat center center scroll;
  background-size: cover;
  color: white;
}

header div {
  margin: 0 auto;
}

header h1 {
  font-family: 'Cinzel', serif;
  text-shadow: 1px 1px black;
}

header h4 {
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: 1px 1px black;
}

#about {
  padding: 50px;
  font-size: 1.25em;
  background-color: #F6F2EB;
}

.about-me-icons {
  margin: .5em;
}

.about-me-icons a {
  margin: .5em;
}

.skills{
  padding: 0 !important;
}

#resumes {
  background-color: #6B8070;
  text-align: center;
}

#resumes h2 {
  margin-top: 0;
  padding-top: .5em;
}

#resumes > .row div {
  margin-top: 1em;
  margin-bottom: 1em;
}

#resumes i {
  color: white;
}

.btn {
  margin: 1em;
}

#profile {
  border-radius: 50%;
}

#project-list {
  background-color: #F6F2EB;
}

#project-list p {
  font-size: 1.25em;
}

.projects-header {
  margin-bottom: 0;
}

.projects-div {
  position: absolute;
  min-height: 100vh;
  background-color: #889886;
}

.cards {
  margin-top: 3em;
}

.box {
  width: 30%;
  margin: .5em;
}

.project-div {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #212E36;
}

#single-project {
  background-color: #F6F2EB;
  font-size: 1.25em;
}

.project-header {
  margin-bottom: 0;
}

.project {
  justify-content: center;
}

.project h1 {
  width: 100%;
}

.project p {
  width: 100%;
}

.links {
  width: 20%;
  text-align: center;
}

.tech li {
  display: inline;
  margin: 0 .75em;
}

.project-pics {
  margin: 2em;
}

@media only screen and (max-width: 992px) {
  .box {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .box {
    width: 100%;
  }

  .skills ul {
    margin: 0;
  }

  #about {
    padding: 10px;
  }

  #about h2 {
    text-align: center;
  }

  .project h1 {
    font-size: 3em;
  }

  .links {
    width: 50%;
  }

  .tech li{
    display: block;
  }

  .project-pics {
    margin: 1em 0;
  }
}
