<header class="valign-wrapper">
    <div class="center-align">
        <h1>Andrew Tsujimoto</h1>
        <h3>Full Stack Web Developer</h3>
    </div>
</header>
<section id="about" class="center-align">
    <h2>About Me</h2>
    <div class="row">
        <img id="profile" class="responsive-img col s12 m4" src="/img/profile.jpg" alt="headshot">
        <div class="col s0 m1"></div>
        <div class="left-align col s12 m7">
            <h3>Branding Statement</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, dignissimos, repellendus! Esse numquam repellat, saepe repudiandae itaque asperiores similique nulla distinctio nostrum, alias mollitia, labore vel voluptatibus architecto quos voluptates!</p>
            <span>andrewtsuji@gmail.com</span>
        </div>
    </div>
</section>
<section ng-include="app/views/projectList.html">
</section>
