<header class="valign-wrapper">
  <div class="center-align">
      <h1>Andrew Tsujimoto</h1>
      <h4>Full Stack Web Developer</h4>
  </div>
</header>
<section id="about" class="center-align">
  <div class="row">
    <div class="col s12 m4">
      <img id="profile" class="responsive-img" src="/img/profile.jpg" alt="headshot">
      <h5>andrewtsuji@gmail.com</h5>
      <h5>(909) 816-1283</h5>
      <a href="https://www.linkedin.com/in/andrewtsujimoto/" class="about-me-icons">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/jigglor" target="_blank" class="about-me-icons">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col s0 m1"></div>
    <div class="left-align col s12 m7">
      <h2>About Me</h2>
      <p>I am a creative-minded problem solver with an inherent drive to find efficient solutions.  I bring laughter and delight, along with empathy and encouragement to my work environment.  I have an inquisitive personality with a tendency to dive deep and explore a subject to its fullest.</p>
      <h4>Skills</h4>
      <div class="row">
        <div class="col s12 m6 skills">
          <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Bootstrap/Materialize</li>
            <li>SQL/PostgreSQL</li>
            <li>Sequelize</li>
          </ul>
        </div>
        <div class="col s12 m6 skills">
          <ul>
            <li>MongoDB/Mongoose</li>
            <li>Node.js/ExpressJS</li>
            <li>Ruby/on Rails</li>
            <li>AngularJS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section ng-include="app/views/projectList.html">
</section>
