<header class="valign-wrapper">
  <div class="center-align">
      <h1>Andrew Tsujimoto</h1>
      <h3>Full Stack Web Developer</h3>
  </div>
</header>
<section id="about" class="center-align">
  <h2>About Me</h2>
  <div class="row">
    <img id="profile" class="responsive-img col s12 m4" src="/img/profile.jpg" alt="headshot">
    <div class="col s0 m1"></div>
    <div class="left-align col s12 m7">
      <p>I am a creative-minded problem solver with an inherent drive to find efficient solutions.  I bring laughter and delight, along with empathy and encouragement to my work environment.  I have an inquisitive personality with a tendency to dive deep and explore a subject to its fullest.</p>
      <span>andrewtsuji@gmail.com<br>
            (909) 816-1283</span>
      <div class="about-me-icons">
        <a href="https://www.linkedin.com/in/andrewtsujimoto/">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/jigglor" target="_blank">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <h4>Skills</h4>
      <ul>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Bootstrap/Materialize</li>
        <li>SQL/PostgreSQL</li>
        <li>Sequelize</li>
        <li>MongoDB/Mongoose</li>
        <li>Node.js/ExpressJS</li>
        <li>AngularJS</li>
      </ul>
    </div>
  </div>
</section>
<section ng-include="app/views/projectList.html">
</section>
