<div class="container">
    <div class="row">
        <div class="flex col s12">
            <div ng-repeat="(key, project) in projects track by $index" class="box">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ project.cover }}" alt="{{ project.title }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                		      {{ project.title }}<i class="material-icons right">more_vert</i>
                		</span>
                        <a href="{{ project.link.url }}">{{ project.link.title }}</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                		      {{ project.title }}<i class="material-icons right">close</i>
                		</span>
                        <p>{{ project.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
